{% extends 'base.html' %}

{%  block content %}
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
  <div class="panel-body">
    <!-- Table -->

  </div>
  <table class="table">
    <tr>
        <th>Classification</th>
        <th>Name</th>
        <th># of direct beneficiaries</th>
        <th># of indirect beneficiaries</th>
        <th>annual cost</th>
        <th>cost per direct beneficiary</th>
        <th>cost per indirect beneficiary</th>
    </tr>
      {% for charity in object_list %}
          <tr>
            <td>{{ charity.classification }}</td>
            <td>{{ charity.name }}</td>
            <td>{{ charity.number_of_direct_beneficiaries }}</td>
            <td>{{ charity.number_of_indirect_beneficiaries }}</td>
            <td>{{ charity.annual_cost}}</td>
            <td>{{ charity.cost_per_direct_beneficiary }}</td>
            <td>{{ charity.cost_per_indirect_beneficiary }}</td>
            <td><a href="{% url 'charity-detail' pk=charity.id %}"><button type="button" class="btn btn-primary">More</button></a></td>
          </tr>
      {% endfor %}
  </table>

</div>
{%  endblock %}