{% extends 'base.html' %}

{% block title %}django-bootstrap3{% endblock %}

{% block content %}
        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
              <h3></h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">
            {% for charity in charities %}
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="{{ charity.logo }}" alt="">
                    <div class="caption">
                        <h3>{{ charity.name }}</h3>
                        <p>{{ charity.description }}</p>
                        <p>
                            <a href="{% url 'charity-detail' charity.id %}" class="btn btn-primary">More Info</a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
        <!-- /.row -->
        {% endblock %}
